/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Georgia', serif;
    line-height: 1.8;
    color: #555;
}

/* Main Content Styling */
main {
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
    background-color: #fff;
}

section {
    margin: 24px;
}

/* Footer Styling */
footer {
    background-color: #004d4d;
    color: #ddd;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Button Styling */
button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #666;
}

/* contact form */
.contact-form {
    max-width: 600px;
    margin: 24px auto;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 16px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form ul {
    margin-left: 24px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    margin-top: 16px;
    background-color: #004d4d;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

.contact-form button:hover {
    background-color: #003d3d;
}

/* Navigation Styling */
header {
    background-color: #004d4d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex: 1;
    justify-content: center;
}

nav ul li {
    margin: 0 16px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* images */
img {
    width: 160px;
}